.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery-item {
    flex: 0 0 calc(25% - 20px); /* Adjust width to 25% for 4 columns per row */
    margin: 5px;
}

.gallery-item img {
    width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 400px;
    object-fit: cover; /* Ensures images maintain aspect ratio and cover the container */
}
