.button-upload {
    color: #fff;
}
/* Add this to your main CSS file or a specific CSS module for the upload form */
.react-select-container {
    margin-top: 10px;
}

.react-select__control {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 2px;
}

.react-select__menu {
    border: 1px solid #ccc;
    border-radius: 4px;
}